/* Navbar with large screen */
.sideMenuLargeScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 68px;
  padding: 10px 10px 30px 10px;
}

.sideMenuLargeScreen ion-icon {
  font-size: x-large;
  margin: 20px 0;
  cursor: pointer;
  z-index: 20;
  --ionicon-stroke-width: 16px;
}

.sideMenuLargeScreen li {
  display: flex;
  align-items: center;
}

/* Navbar with small screen */
.sideMenuSmallScreen {
  width: 100vw;
  background-color: #fff;
}

.sideMenuSmallScreen ion-icon {
  font-size: x-large;
  cursor: pointer;
  --ionicon-stroke-width: 16px;
}

/* Main Content Division on Home Page */
@media screen and (min-width: 768px) {
  .mainContent {
    margin-left: 68px;
  }
}

@media screen and (min-width: 1024px) {
  .mainContent {
    margin-right: 320px;
  }
}

.mainContent .h1title {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: medium;
  font-weight: 600;
}

.mainContent p {
  text-align: justify;
  text-indent: 50px;
  font-size: 20px;
}

.mainContent img {
  margin: 20px 0;
}

.mainContent ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  font-size: 20px;
}

.mainContent ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  font-size: 20px;
}

.mainContent li {
  display: list-item;
  font-size: 20px;
}

.ArticleInfo {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .writeContent {
    margin-left: 68px;
  }
}

@media screen and (min-width: 1024px) {
  .writeContent {
    margin-right: 320px;
  }
}

.writeContent p {
  text-align: justify;
  font-size: 20px;
}

.writeContent img {
  margin: 20px auto;
}

.writeContent ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  font-size: 20px;
}

.writeContent ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  font-size: 20px;
}

.writeContent li {
  display: list-item;
  font-size: 20px;
}

.writeContent input {
  padding: 5px 15px;
}

.writeContent ::placeholder{
  color: rgba(0,0,0,0.6);
  font-style: italic;
  font-size: 12px;
}